html, body {
	margin: 0;
	border: none;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	/*margin: 0;*/
	padding: 0;
}

h4{ margin: 0;}

.container {
	margin: 0 auto;
	width: 950px;
}

.example {
	background-color: #eaeaea;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 50px;
	padding: 0 30px 30px 30px;
}
.example h3 {
	background-color: rgba(68,170,68,0.8);
	border-radius: 10px;
	color: white;
	float: left;
	font: serif;
	padding: 10px;
	text-transform: uppercase;
	width: 100%;
}
.example h3 a, .example h3 a:visited{
	color:white;
	text-decoration: none;
}

.example h3 a:hover {
	color: #44a;
}

a, a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.up{
	font-size: .8em;
	text-transform: capitalize;
	float:right;
}

.codigo {
	background-color: #eaeaea;
	border: 1px solid #000088;
	border-radius: 5px;
	font-style: italic;
	padding: 0 5px;
}

.atributo {
	color: #0f0;
	font-weight: bold;
}

.valor {
	color: #fff;
	font-weight: normal;
}

.comment {
	color: #666;
}
.inco {
	color: a56;
}

.codigo.small {
	width: 300px;
	padding: 10px;
	font-style: normal;
}

.codigo.medium {
	width: 600px;
	padding: 20px;
	font-style: normal;
}

.codigo.large {
	width: 95%;
	padding: 20px;
	font-style: normal;
}

#clickExample{
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
}

.div_example {
	border: 1px solid #99f;
	border-radius: 5px;
	background-color: #3333ea;
	color: black;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 5%;
}